/* dit is vooral op volgorde van links naar rechts en boven naar beneden van de pagina geschreven */


body{
    margin: 0 auto;
}

.profielfoto{
    height: 110%;
    margin: 15px;
    border: 2px solid black; 
    border-radius: 50%;   
    position: absolute;
    transition: all .2s ease-in-out; 
}
.profielfoto:hover {
    transform: scale(1.1);
}
header{
    position: fixed;
    margin-left: 0px;
    background: white;
    width: 100%;
    height: calc(20vh - 1px); /*20vh - 1px vanwege de border*/
    border-bottom: 1px solid lightgray;
}
.links{
    margin-left: 20%;
    text-align: center;
    position: absolute;
    font-size: 5vh;
    padding: 7.5vh;
    transition: all .2s ease-in-out; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.linken {
    float: left;
    font-family: sans-serif; 
    font-weight: bold;    
}
.linken a {
    display: inline;
    color: #9B4747;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.linken a:hover {
    color: #DC0707;
}
.facebook{
    padding: 0.7vh;
    margin-top: 5vh;
    margin-right: 1vh;
    height: calc(10vh - 20px);
    border-radius: 50%;
    float: right;
    overflow: hidden;
    background: #CD4141;
    box-shadow: inset 0px 0px 30px black;
}
.facebook:hover{
    background: #982F2F;
}
.instagram{
    padding: 0.7vh;
    margin-top: 5vh;
    margin-right: 1vh;
    height: calc(10vh - 20px);
    border-radius: 50%;
    float: right;
    overflow: hidden;
    background: #CD4141;
    box-shadow: inset 0px 0px 30px black;
}
.instagram:hover{
    background: #982f2f;
}
section{
    height: 80vh;
    width: 100%;
}
aside{
    margin-top: 20vh;
    width: 10%;
    background: #B53535;
    height: 340vh;
    float: left;
    box-shadow: inset 0px 0px 15px black; 
    
}
main{
    margin-top: 20vh;
    width: 80%; 
    height: 339vh;
    background: #F0F0F0;
    float: left;
    padding-top: 1vh;
    font-family: sans-serif;
}

.welkomtekst{
    border-bottom: 2px solid darkred;
    font-size: 8vh;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-size: 3vh;
    margin-bottom: 1vh;
}   	
.kenmerken{
    margin-top: 0.8vh;
    margin-left: 5vh;
    font-size: 4vh;
    list-style-type: circle;
}
.kenmerkcontainer{
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.innerinfo{
    margin-left: calc(15% - 20px); /* calc vanwege de padding*/
    width: calc(70% - 40px);
    border: 1px solid lightgrey;
    padding: 20px;  
    background: white;
    border-radius: 30px;
}
h2{
    margin-top: 30px;
    font-size: 8vh;
    margin-bottom: 3vh;
    border-bottom: 1px solid lightgray;
}
.kaart{
    width: 100%;
}
.wielrennen{
    margin: 4vh;
    height: 40vh;
    border-radius: 20%;
    border: 1px solid black;
}
.rudyco{
    margin: 3vh;
    height: 40vh;
}
.computeren{
    height: 30vh;
    margin: 4vh;
    border-radius: 20px;
    border: 1px solid black;
}
.nehalennia{
    width: 100%;
}
#gameCanvas{
    float: left;
}
.techniekfoto{
    width: 100%;
}
.uitlegpunten{
    width: 20%;
    float: left;
    font-size: 60px;
}